.button__slide {
    position: absolute;
    border: transparent;
    background-color: transparent;
    top: 50%;
    
}

.button {
    width: 0.7rem;
    opacity: 0.8;
    
}

.next {
    right: 0;
    
    
}

.prev {
    left: 0;
}
