.slider-container {
    margin: 0 auto;
    width: 80vw;
    overflow-x: hidden;
    position: relative;
}

.slider {
    display: flex;
    gap: 2rem;
    cursor: grab;
}

.dots__container {
    display: flex;
    gap: 1rem;
    position: relative;
    margin-top: 0.5rem;
    left: calc(50% - 1.35rem);
   

    .dot {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: rgb(49, 59, 53);
    }

    .dot-active {
        opacity: 0.6;
        background-color: rgb(79, 94, 85);
        // border: 2px solid black;
        // background-color: transparent;
    }
}

