.page__user {
    background-color: rgb(221, 233, 232);
    height: 100vh;
}

.header__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2.5rem;
    height: 10%;
    padding-top: 5rem;
    

    &__title {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.2rem;
        color: rgb(58, 70, 69);
        font-weight: 700;
        margin: 1rem 0em;
    }

    &__text {
        font-size: 0.9rem;
        color: rgb(61, 75, 71);
    }

    .logo {
        width: 1.5rem;
        position: absolute;
        top: 0;
        right: 0;
        margin: 2rem;
    }

    &__menu {
        display: flex;
        justify-content: center;
        

        .button__menu {
            width: auto;
            padding: 1rem;
            margin: 0.5rem;
            background-color: rgba(255, 255, 255, 0.322);
            border: 1px solid  rgba(227, 235, 232, 0.918);
            box-shadow: 2px 0 10px rgba(188, 204, 201, 0.411) inset;
            backdrop-filter: blur(2px);
            border: transparent;
            border-radius: 1rem;
            color: white;

            .button__logo {
                width: 4rem;
                margin-top: 0.5rem;
            }
        }
    }};




