.page__user {
    background-color: rgb(221, 233, 232);
    padding: 2rem;
    min-height: 100%;

}

.header__user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
    padding-left: 1rem;
    

    &__title {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1.2rem;
        color: rgb(58, 70, 69);
        font-weight: 700;
        margin: 1rem 0em;
    }

    &__text {
        font-size: 0.9rem;
        color: rgb(61, 75, 71);
    }

    .logo {
        width: 1.5rem;
        position: absolute;
        top: 0;
        right: 0;
        margin: 2rem;
    }

    &__plantList {
        margin: 0 auto;

        &__item {
            list-style: none;
            display: flex;
            gap: 0.5rem;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin: 2rem;
            font-weight: 500;
        
            .plantImage {
                width: 100%;
                
                &__container {
                    overflow: hidden;
                    height: 15rem;
                    width: 15rem;
                    border-radius: 10px;
                }
            }
        }
    }

   
    };

 
    




