.button__slide {
    position: relative;
    border: transparent;
    background-color: transparent;
}

.button {
    width: 0.7rem;
    opacity: 0.8;
    position: absolute;
    //top: -75px;
    top: -90px
}

.prev {
    left: 0;
}

.next {
    left: calc(100% - 11.2px);
}

