@import '../core/variables.scss';

.explorePlants {
    //background-color: rgb(221, 233, 232);
    min-height: 100%;
    
    &__header {

        &__title {
            margin: 2rem;
            margin-bottom: 0rem;
            font-size: 1.2rem;
            font-family: $title_font;
            color: $main_color;
        }

        &__text {
            margin: 1.5rem;
            margin-left: 2.5rem;
            font-size: 0.8rem;
            font-family: $title_font;
            color: $main_color;
        }

        &__nav {
            display: flex;
            justify-content: flex-end;
        }

        
        &__link {
            color: $main_color;
        }

        &__form {
            margin-left: 1rem;
        }

        &__filter{
            border-radius: 1rem;
            border: transparent;
            padding: 0.5rem;
            padding-left: 1rem;
            background-color: rgba(220, 220, 220, 0.799);
        }
    }

    &__main {

      &__plantList {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-arround;
        padding: 2rem;
        padding-top: 1rem;
       

        .plantList__item {
            list-style: none;
            display: flex;
            gap: 0.5rem;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin: 0.5rem;
            font-weight: 500;
            width: 8.2rem;
            position: relative;

            &__icon {
                //background-color: rgba(255, 255, 255, 0.8);
                backdrop-filter: blur(5px);
                height: 2rem;
                width: 2rem;
                position: absolute;
                z-index: 2;
                right: -0.5rem;
                border-radius: 1rem;
                border: 2 px solid white;
                filter: drop-shadow(0.4rem 0.4rem 0.40rem hsla(150, 9%, 34%, 0.3));
                box-shadow: 1px 5px 20px 1px rgba(0,0,0,0.1), -1px -25px 43px -14px rgba(255, 255, 255, 0.3) inset
            }
    
            .plantImage {
                width: 100%;
                
                &__container {
                    overflow: hidden;
                    height: 10rem;
                    width: 8rem;
                    border-radius: 10px;
                    filter: grayscale(40%);

                    &--added {
                        overflow: hidden;
                        height: 8rem;
                        width: 8rem;
                        border-radius: 10px;
                        scale: 0.8;
                        filter: grayscale(0%);
                    }
                }
            }

            .plantName {
                width: 90%;
                font-size: 0.9rem;
            }
        }
}  
    }
}

