.main__login__form__label {
    display: block;
    padding-bottom: 0.5rem;
    color: rgb(47, 53, 51);
}

.main__login__form__input {
    display: block;
    padding-left: 0.5rem;
    border: transparent;
    background-color: rgba(198, 216, 210, 0.706);
    padding: 0.6rem;
    border-radius: 1rem;
    color: rgb(47, 53, 51);
    width: 15rem;
    
}