$title_font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$common_font: 'Open Sans', sans-serif;

//$main_color : hsl(150, 9%, 34%);
$main_color : hsl(150, 9%, 34%);
$darker_color : hsl(150, 9%, 17%);
$background_color : hsl(163, 7%, 80%);
$background-color-components: rgba(198, 216, 210, 0.706);