@import './core/reset.scss';
@import './core/variables.scss';

.page {
    width: 100vw;
    height: 100vh;
    // background-color: rgb(243, 243, 243);
    font-size: 1rem;
    font-family:'Open Sans', sans-serif;
}

//General styles.
.link {
    text-decoration: none;
    padding: 1rem;
}

.list_item {
    list-style: none;
}

.cursive {
    font-style: oblique;
}

.bolder{
    font-weight: 600;
    color: rgb(78, 94, 86);
}

