.button__slide {
    position: relative;
    top: 20px;
    border: transparent;
    background-color: transparent;
}

.button {
    width: 0.7rem;
    opacity: 0.8;
}

.prev {
    left: 0;
    grid-column: 1;
    grid-row: 1;
}

.next {
    grid-column: 3;
    grid-row: 1;
}

