@import '../core/variables.scss';

.explorePlants {
    min-height: 100%;
    
    &__header {

        &__title {
            margin: 2rem;
            margin-bottom: 1rem;
            font-size: 1.2rem;
            font-family: $title_font;
            color: $main_color;
        }

        &__text {
            margin: 1rem;
            margin-left: 2rem;
            font-size: 0.8rem;
            line-height: 1.2rem;
            font-family: $title_font;
            color: $main_color;
            width: 70%;
            text-align: justify;
        }


        &__form {
            margin-left: 1rem;

            &__selectPlantsView {
                background-color: $background_color-components;
                margin: 2rem 0rem 0rem 0rem;
                padding: 0.2rem;
                border-radius: 100px;
                width: 20vh;
                display: flex;
                justify-content: space-around;
                

                &__button {
                    border: transparent;
                    background-color: transparent;
                    color: rgb(108, 121, 116);
                    font-size: 0.8rem;
                }

                .active {
                    background-color: white;
                    border-radius: 100px;
                    padding: 0.3rem 0.5rem;
                    filter: drop-shadow(0 0 0.1rem rgb(186, 186, 186));
                    color: rgb(63, 71, 68);
                    
                }
            }
        }

        &__filter{
            border-radius: 1rem;
            border: transparent;
            padding: 0.5rem;
            padding-left: 1rem;
            background-color: rgba(220, 220, 220, 0.799);
        }
    }

    &__main {
     height: fit-content;

      &__plantList {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-arround;
        padding: 2rem;
        padding-top: 1rem;
        
       

        .plantList__item {
            list-style: none;
            display: flex;
            gap: 0.5rem;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            //margin: 0.5rem;
            font-weight: 500;
            width: 8.2rem;
            position: relative;
        }
      }  
    }
}

