@import '../core/variables.scss';

.explorePlants {
    min-height: 100%;
    
    &__header {

        &__title {
            margin: 2rem;
            margin-bottom: 1rem;
            font-size: 1.2rem;
            font-family: $title_font;
            color: $main_color;
        }

        &__text {
            margin: 1rem;
            margin-left: 2rem;
            font-size: 0.8rem;
            line-height: 1.2rem;
            font-family: $title_font;
            color: $main_color;
        }

        &__nav {
            display: flex;
            justify-content: flex-end;
            font-size: 0.8rem;
        }

        
        &__link {
            color: $main_color;
        }

        &__form {
            margin-left: 1rem;
        }

        &__filter{
            border-radius: 1rem;
            border: transparent;
            padding: 0.5rem;
            padding-left: 1rem;
            background-color: rgba(220, 220, 220, 0.799);
        }
    }

    &__main {

      &__plantList {
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-arround;
        padding: 2rem;
        padding-top: 1rem;
       

        .plantList__item {
            list-style: none;
            display: flex;
            gap: 0.5rem;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            margin: 0.5rem;
            font-weight: 500;
            width: 8.2rem;
            position: relative;
        }
      }  
    }
}

