.slider-container {
    margin: 0 auto;
    padding: 1rem;
    width: 80vw;
    overflow-x: hidden;
    position: relative;
    

    &__wrapper {
        display: grid;
        grid-template-columns: 30px 1fr 30px;
        margin-bottom: 1.5rem;
    }
}

.slider {
    display: flex;
    justify-content: flex-start;
    gap: 2.5rem;
    grid-column: 1;
    grid-row: 1;
    cursor: grab;
}

.dots__container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 0.5rem;

    .dot {
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: rgb(49, 59, 53);
    }

    .dot-active {
        opacity: 0.6;
        background-color: rgb(79, 94, 85);
    }
}

