.plantDetail {
    //background-color: rgb(221, 233, 232);
    min-height: 100vh;
    padding-left: 1rem;
    line-height: 1.3rem;
    width: 90vw;
    //background-color: rgb(34, 44, 39);
  
  
   
    // &__header::before{
    //     content: '';
    //     background-color: rgb(191, 202, 200);
    //     height: 50vh;
    //     position: absolute;
    //     top: 0;
    //     opacity: 0.2;
    //     width: 100vw;
    //     box-shadow: inset -30px -190px 200px -40px rgba(42, 45, 45, 0.558);
    // }

    &__header {
        padding: 1rem;
        padding-top: 10%;       
        display: flex;
        flex-direction: column;
      
        gap: 0.8rem;
       
         &__title {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 1.3rem;
            //color: rgb(34, 44, 39);
            font-weight: 700;
        }

        &__subtitle {
            font-weight: 400;
            font-size: 0.88rem;
            color: rgb(0, 0, 0);
            mix-blend-mode: multiply;
            padding-left: 0.5rem;
            
        }

    }

    &__main {
        text-align: justify;
        padding-bottom: 3rem;
        font-size: 0.9rem;

        &__info {
            display: grid;
            grid-template-rows: 1fr min-content;
            font-size: 0.8rem;
            width: 80vw;
            max-width: 500px;
            padding: 1rem;
            padding-bottom: 2rem;
        }

        &__img {
            width: 80vw;
            height: 80vw;
            max-width: 500px;
            max-height: 500px;
            background-size: cover;
        }


        &__table {
            display: grid;
            grid-template-columns: 0.2fr 1fr;
            padding: 1.5rem;
            background-color: rgb(228, 234, 234);
            row-gap: 0.2rem;
           
            &__title {
                font-weight: 500;
            }
    
            &__text {
                margin-left: 1rem;  
                text-align: start;
            }
        }


        &__title {
            padding: 0.5rem 1rem;
            padding-top: 1.2rem;
            color: rgb(34, 44, 39);
        }

        &__text {
            padding:  0rem 1rem;
            font-size: 0.8rem;
            line-height: 1.4rem;
        }
    }

   
}