@import '../core/variables.scss';

.page__user {
    min-height: 100vh;
    position: relative;

}

.header__user {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    padding-top: 2rem;
    padding-left: 2rem;
 
    
    &__text {
        display: flex;
        flex-direction: row;
        gap: 0.2rem;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 0.75rem;
        color: $main_color;
        margin: 0.5rem 0em;
        text-align: center;

        &--greeting {
            font-family: $title_font;
            color: rgb(61, 75, 71);
        }

        &--name {
            font-weight: 700;
        }
    }

    &__settings {
        padding: 0.5rem 2rem;
        color: $main_color;
        font-size: 1.2rem;
    }

};

    .main__user {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        //margin-top: 0.5rem;
        padding: 1rem 2rem;
        

        &__myPlants {
             display: flex;
             flex-direction: column;
            
           &__title {
            font-family: $common_font;
            font-size: 0.9rem;
            color: $main_color;
            font-weight: 700;
            margin: 1rem 0rem;
           }

            &__input {
                align-self: center;
                margin-bottom: 1rem;   
            }
        }

        &__myPlantsList {
            align-self: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            min-height: 40vh;
            


            &__contain {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-radius: 1rem;
                text-align: center;
                padding: 1.5rem;
                
            }

            &__link {
                color: $main_color;
                position: relative;
            }

            &__item {
                display: flex;
                gap: 0.5rem;
                flex-direction: column;
                justify-content: center;
                border-radius: 10%;
                margin: 0.5rem;
                height: 19vh;
                width: 16vh;
                position: relative;
            }
        }

        &__options {
            display: flex;
            align-items: flex-end;
            justify-content: space-around;
            border: transparent;
            background-color: rgba(198, 216, 210, 0.706);
            width: 100%;
            color: $main_color;
            padding-top: 0.5rem;
            position: absolute;
            bottom: 0;
            left: 0;
          

            &__item {
                //border-radius: 1rem;

                .itemContain {
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 0.5rem;
                    font-size: 0.8rem;
                    color: #3a4645d0;
                }

                .icon {
                    color: #3a4645;
                    font-size: 1.1rem;
                }
            }
        }
    }

 
    




